html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
	font-family: "Open Sans", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}

/* style.css*/
.clr{
	clear:both;
}
.clearfix:after {
	clear: both;
	content: "";
	display: table;
}
@font-face {
	font-family: "Open Sans Semibold";
	src: url(2212.ttf);
}
header{
	background: #000;
	overflow: hidden;
}
.center{
	max-width: 85%;
	margin:0 auto;
}
.logo-small{
	float: left;
	margin-top: 20px;
}
.menu{
	float: right;
}
.menu li{
	float: left;
}
.menu li a{
	font-family: "Open Sans Semi-bold";
	color:#848484 ;
	padding: 25px 20px;
	display: block;
    font-weight: bold;
    font-size: 14px;
}
.menu li a:hover{
	color:#fff;
}
.block1-section{
	background: #9a9a9a;
	padding: 30px 0 50px 0;
}
.pr{
    font-family: "Open Sans Regular", sans-serif;
	font-size: 1.92em;
	font-weight: 600;
	text-align: center;
	color: #b0b0b0;
	margin-bottom: 50px;
}
.left-block{
	display: inline-block;
	width: 49%;
}
.left-block h3{
	padding: 20px 0 40px 0;;
	color: #fff;
	font-size: 36px;
    font-family: "Myriad Pro Regular", sans-serif;
}
.left-block p{
	color: #c7c7c7;
	padding: 40px 0 20px 0;
	width: 85%;
    font-family: "Myriad Pro Regular", sans-serif;
    line-height: 1.2;
}
.line{
	background: #fff;
	width: 60px;
	padding-bottom: 2px;
    box-shadow:-1px 5px 10px rgba(0,0,0,0);
}
.btn-dowload{
	color: #fff;
	display: inline-block;
	padding: 20px 50px;
	border: 2px solid #fff;
	font-size: 15px;
	text-decoration: none;
	font-weight: 600;
	margin-top: 30px;
	cursor: pointer;
    font-family: "Open Sans Semi-bold", sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.btn-dowload:hover{
	color:#9a9a9a;
	background: #fff;
}
.right-block{
	display: inline-block;
	width: 49%;
}
.block2-section{
	background: #f5f5f5;
}
.form-pr{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background:#f5f5f5 ;
	color: #333;
	font-weight: bold;
	border-radius: 3px 3px 0 0 ;
}
.form-pr span{
	color:#ff8b38;
}
.submit{
	background: #ff9b51;
	width: 100%;
	border: 0;
	border-radius: 0 0 3px 3px;
	margin-top: 58px;
	padding: 27px 0 27px 0;
	color:#fff;
	cursor: pointer;
    font-family: "Open Sans Semi-bold", sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.form-registr{
	background: #fff;
	width: 362px;
	height: 367px;
	margin-left: 31.333333%;
	margin-right: 16%;
	border-radius: 3px;
    box-shadow:-1px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 140px;
}

.inpute{
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
	width: 85%;
	margin: 45px 6.5% 0 6.5%;
	padding-top: 0;
	border: 0;
	border-bottom: 1px solid #d6d6d6;
	outline: none;
    padding-left: 15px;
}
.social{
	background: #fff;
	border-bottom: 2px solid rgba(183,183,183,0.5);
}
.social .left-block-social h2{
	margin-top: 24px;
    font-weight: bold;
    font-size: 20px;
}
.social .left-block-social p{
	color: #a4a5a8;
	padding: 0;
	padding-top:12px ;
	padding-bottom: 22px;
	width: 80%;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
}
.block2-section{
	background: #f5f5f5;
}
.tobs{
	float: left;
	margin-bottom: 150px;
	margin-top: 100px;
	width: 51%;
}
.block2-section img{
	float: right;
	margin-top: 100px;
	margin-right: 215px;
}
/* Tabs style*/
.jssort13 .p .c, .jssort13 .pav:hover .c {
	background-color: #333333;
}
.jssort13 .pav .c, .jssort13 .p:hover .c {
	background-color: #ff8b38;
}
.jssort13 .c {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 29px;
	text-align: center;
	color: #fff;
	font-size: 13.0px;
}
.jssort13 .w {
	cursor: pointer;
	position: absolute;
	WIDTH: 98px;
	HEIGHT: 29px;
	border-bottom: 1px solid #fff;
	top: -1px;
	left: 0px;
}
.jssort13 .p {
	POSITION: absolute;
	WIDTH: 100px;
	HEIGHT: 30px;
	TOP: 0;
	LEFT: 0;
	padding: 0px;
}
ul.tabs {
	height: 28px;
	line-height: 7em;
	list-style: none;
    text-align: center;
}
.tabs li {
	float: left;
	display: inline-block;
	margin: 0 1px -1px 0;
	/*padding: 0 13px 1px; */
	color: #fff;
	cursor: pointer;
	background: #333333;
	position: relative;
    font-weight: bold;
}
.tabs li:hover,
.vertical .tabs li:hover {
	color: #fff;
	background: #ff8b38;
}
.tabs li.current {
	color: #fff;
}
.box {
	display: none;
	background: #f5f5f5;
	padding: 0 12px;
	margin-left: 180px;
}
.box.visible {
	display: block;
}
.box h3{
    margin-bottom: 55px;
    font-weight: bold;
    font-size: 20px;
}
.box p{
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    color:#a2a3a6;
}
.textPrewi{
    margin:25px 0 20px 0 ;
}
.vertical .tabs {
	width: 113px;
	float: left;
	display: inline;
	margin: 0 0 0 0px;
}
.vertical .tabs li {
	/* padding: 0 13px 2px; */
	margin: 0 0 1px;
	width: 113px;
	height: 112px;
	border-radius: 2px;
}
.vertical .tabs li:hover {
	width: 113px;
}
.vertical .tabs li.current {
	width: 113px;
	color: #fff;
	background: #ff8b38;
	margin-right: -1px;
}
.btn-tab{
	color: #fff;
	display: inline-block;
	padding: 20px 50px;
	font-size: 15px;
	text-decoration: none;
	font-weight: 600;
	margin-top: 30px;
	cursor: pointer;
	background: #ff8b38;
    border-radius: 7px;
    font-family: "Open Sans Semi-bold", sans-serif;
    font-size: 15px;
}
.btn-tab:hover{
	color:#fff;
	background: #333333;
}
.left-block-social{
    width: 35%;
    display: inline-block;
}
.right-block-social{
    width: 65%;
    float: right;
    margin-top: 15px;

}
.socialIcon{
	margin-top: 24px;
}
.socialIcon i{
	margin-right:70px ;
}
.socialIcon i:last-child{
    margin: 0;
}
.fa-facebook,.fa-twitter,.fa-google-plus,.fa-pinterest,.fa-instagram,.fa-rss,.fa-stumbleupon {
	color: #ccc;
}
.imageInsert,.imageInsertTwo{
	background: #9a9a9a ;
	float: left;
	width: 450px;
	height: 300px;
	margin-bottom: 140px;
	box-shadow:10px 18px 40px rgba(154,154,154,0.7);

}
.imageInsert p,.imageInsertTwo p{
	margin-left: 24%;
	margin-top: 22%;
    font-size: 33.03px;
    text-align: center;
    width: 50%;
	color: #b0b0b0;
    font-family: "Open Sans Regular",sans-serif;

}
.imageInsert{
	margin-top:125px ;
}
.imageInsertTwo{
	float: right;
	margin-top: 90px;
}
.text,.textTwo{
	float: right;
	width: 50%;
	margin-top: 105px;
}
.text h2,.textTwo h2{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
.textPrew{
    margin-top: 30px;
}
.text{
	margin-top: 105px;
}
.block3-section h3{
	margin-bottom: 5px;
	font-weight: bold;
}
.textTitle{
	margin-bottom: 40px;
	width: 85%;
}
.textTwo{
	float: left;
}
.title{
    margin-top: 50px;
}
.title i{
    color:#ff9244;
    line-height: 40px;
    margin-left: 12px;

}
.textPrew,.textTitle{
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.circleI{
    background: url("../images/list_icon_.png") no-repeat;
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 25px;
    margin-top: 15px;
    padding-bottom: 20px;
}
.block4-section{
	background: #f5f5f5;
}
.block5-section{
	background: #fff;
	text-align: center;
}
.block5-section h2{
	margin-top: 110px;
	margin-bottom: 33px;
    font-family: "Raleway Regular", sans-serif;
    font-size: 36px;
}
.lineTitle{
	width: 70px;
	background: #ff8b38;
	padding-bottom: 2px;
}
.block5-section .lineTitle{
	margin: 0 auto;
}
.block5-section p{
	margin: 31px 0 80px 0;
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.awesome{
	width: 30%;
	display: inline-block;
	margin-right: 20px;
}
.awesome h3{
	margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
}
.awesome p{
	margin: 25px 0 105px 0;
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.circle i{
	color: #ff8b38;
	margin-top: 25%;
}
.circle{
	background: url('../images/icon_awesome.png') no-repeat;

	width: 72px;
	height: 72px;
	margin: 0 auto;
}
.block6-section{
	background: #f5f5f5;
	text-align: center;
}
.block6-section .lineTitle{
	margin: 0 auto;
}
.block6-section h2{
	margin: 105px 0 30px 0;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
}
.sit{
	margin-top: 30px;
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.sittwo{
    margin-top:30px;
    font-size: 16px;
    color: #86878b;
    text-align: center;
    font-family: "Open Sans Regular", sans-serif;
}
.block6-section h3{
    padding: 30px 0 30px 0 ;
    border-bottom: #fff solid 1px;
    font-weight: bold;
    font-size: 20px;
}
.buySmall{
	width: 345px;
	display: inline-block;
	background: #fff;
    margin-right: 25px;
	margin-top: 115px;
}
.buyBig{
	width: 345px;
	display: inline-block;
	background: #fff;
    margin-right: 25px;
	margin-top: 80px;
    margin-bottom: 95px;
}
.prices{
    background: #333;
    border-bottom: 5px solid #ff8b38;
    color: #fff;
}
.infoPrices{
    color: #666;
    margin: 30px 0 20px 0;
    font-family: "Open Sans Semi-bold", sans-serif;
    font-style:italic ;
    font-weight: bold;
}
.textInfo{
    color:#86878b;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px 0 20px 0;
    font-family: "Open Sans Regular", sans-serif;
}
.textInfoNot{
    color: #86878b;
    padding: 20px 0 20px 0;
    font-family: "Open Sans Regular", sans-serif;
}
.price{
    font-size: 94px;
    font-family: 'Raleway', sans-serif;
    font-weight:bold ;
}
.buyBig .price{
    border-bottom: 1px solid #fff;
}
.price span{
    font-size:35px ;
}
.popular{
    padding: 20px 0 20px 0;
    background: #ff8b38;
    font-weight: bold;
}
.block7-section{
	background: #fff;
}
.block7-section .lineTitle{
	margin: 0 auto;
}
.block7-section h2{
    margin:75px 0 30px 0;
    font-size: 36px;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.comment{
	width: 20%;
	height: 230px;
	display: block;
	margin-right:160px ;
    margin-top: 55px;
    position: relative;
    margin-bottom: 190px;
	float: left;
}
#com{
	margin-left: 100px;
}
.commentr{
    background: #f5f5f5;
    width: 285px;
    height: 110px;
    margin-bottom: 20px;
    border-radius:4px ;
    padding:20px 10px 25px 10px;
    font-family: "Open Sans Regular", sans-serif;
    font-style: italic;
    color:#8d8e92 ;
}
.commentr:after{
    content: '';
    position: absolute;
    bottom: 75px;
    left: 13%;
    transform: translate(-50%, 100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9.5px 0 9.5px;
    border-color: #f5f5f5 transparent transparent transparent;
}
.comment img{
    float: left;
    margin-right: 20px;
}
.comment p:nth-child(3){
    margin-left: 80px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}
.comment p:nth-child(4){
    margin-top: 5px;
    margin-left: 80px;
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.comment:last-child{
	margin-right: 0;
}
.block8-section{
	background: #9a9a9a;
	text-align: center;
}
.block8-section h2{
	margin:75px 0 30px 0;
	font-size: 36px;
	color: #fff;
    display: inline-block;
    font-family: "Raleway", sans-serif;

}
.block8-section p:nth-child(3){
	margin-top:30px;
	font-size: 16px;
	color: #fff;
    font-family: "Raleway Light", sans-serif;
    font-size: 16px;
}
.block8-section p:nth-child(6){
	margin:30px 0 25px 0;;
	font-size: 16.33px;
	color: #ababab;
    display: inline-block;
    font-family: "Open Sans Regular", sans-serif;
}
.block8-section .lineTitle{
	margin: 0 auto;
	background: #fff;
}
.block9-section{
	background: #fff;
	text-align: center;
}
.block9-section .lineTitle{
	margin: 0 auto;
}
.block9-section h2{
	margin:75px 0 30px 0;
	font-size: 36px;
    font-family: "Raleway", sans-serif;
}
.block9-section p:nth-child(3){
    margin:30px 0 80px 0;
    font-size: 16px;
    font-family: "Open Sans Regular", sans-serif;
    color: #86878b;
}
.block9-section input[type="submit"]{
    color: #fff;
    display: block;
    padding: 17px 50.5px;
    border: 2px solid #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    background: #ff8b38;
    border-radius: 5px;
    margin: 0 auto;
    outline: none;
    margin-bottom: 80px;
    font-family: "Open Sans Semi-bold", sans-serif;

}
.leftForm{
    float: left;
    width: 46%;
    margin-right: 80px;
}
.leftForm input[type="text"],.leftForm input[type="email"]{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-top: 15px;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    outline:none;
    padding-left: 15px;
    font-family: "Open Sans Regular", sans-serif;
}

.block9-section textarea{
    width: 45%;
    height: 160px;
    margin-bottom: 40px;
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    outline:none;
    resize: none;
    padding-left: 15px;
    font-family: "Open Sans Regular", sans-serif;
}
footer{
	background: #000;
	text-align: center;
}
footer p{
	color: #a2a2a2;
	font-size: 12px;
	margin: 15px 0 15px 0;
    display: inline-block;
    font-family: "Open Sans Regular", sans-serif;
}
footer i{
	color: #fff;
	margin-right: 30px;
	margin-top:25px ;
}
footer .fa-facebook,footer .fa-twitter, footer .fa-google-plus,footer .fa-pinterest,footer .fa-instagram,footer .fa-rss,footer .fa-stumbleupon{
	font-size: 24px;
}
@media screen and (max-width:1500px) {

}
@media screen and (max-width:1380px) {
	.fa-3x {
		font-size: 2.9em;
	}
}
@media screen and (max-width:1355px) {
	.fa-3x {
		font-size: 1.8em;
	}
	.block2-section img{
		margin-right: 0;
	}
	.socialIcon i {
		margin-top: 20px;
	}
	.buySmall:last-of-type{
		margin-top: 0;
		margin-bottom: 95px;
	}
	.comment{
		margin-right: 110px;
	}

}
@media screen and (max-width:1280px) {
	.leftForm{
		margin-right: 70px;
	}
}
@media screen and (max-width:1170px) {
	.left-block-social{
		width: 100%;
		text-align: center;
	}
	.right-block-social{
		width: 100%;
		float: none;
		text-align: center;
	}
	.social .left-block-social p{
		width: 100%;
	}
	.socialIcon{
		margin: 0 0 10px 0;
	}
	.text, .textTwo{
		width: 100%;
		float: none;
		margin-top: 15px;
	}
	.lineTitle{
		margin: 0 auto;
	}
	.text h2, .textTwo h2{
		text-align: center;
	}
	.imageInsert, .imageInsertTwo{
		width: 100%;
		float: none;
	}
	.leftForm{
		margin-right: 0;
	}
	.comment{
		margin-left: 10%;
		margin-bottom: 50px;
	}
	.comment:nth-of-type(4) {
		margin-left: 35%;

	}
    .imageInsert p, .imageInsertTwo p{
        line-height: 9em;
        margin-top: 0;
        vertical-align: middle;
    }
    .imageInsert{
        margin-top: 25px;
    }
    .textTwo h2{
        padding-top: 20px;
    }
}
@media screen and (max-width:1024px) {

	.leftForm{
		margin-right: 0;
	}
	.form-registr{
		margin: 0;
	}
	.comment{
		width: 35%;
		margin: 0 auto;
		float: none;
        margin-bottom: 20px;
        margin-top: 20px;
	}
	#com{
		margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
	}
    .comment:nth-of-type(4) {
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 20px;
    }
}

@media screen and (max-width:945px){ 
    .imageInsert,.imageInsertTwo{
        width: 95%;
        margin-right: 15px;
    }
    .imageInsert p, .imageInsertTwo p{
        display: table-cell;
    }
    .text,.textTwo{
        width: 100%;
    }
    .tobs{
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    .vertical .tabs{
        float: none;
    }
    .tabs li{
        float: none;
    }
    .vertical .tabs li{
        margin: 0 -1px 1px;
        margin-top: 20px;
    }
    .box{
        margin-top: 50px;
        margin-left:0;
        text-align: center;
    }
.block2-section img{ 
		margin: 0 auto;
		display: block;
		float: none;
		margin-bottom: 30px;
}
@media screen and (max-width:768px){
	.left-block{
		width: 100%;
		margin-bottom: 20px;
	}
	.right-block{
		    display: block;
    width: 100%;
    margin: 0 auto;
	}
	.form-registr{
		width: 100%;
	}
	.btn-dowload{
		display: block;
		padding: 20px 0;
		width: 30%;
		text-align: center;
		margin: 0 auto;
	}
	.socialIcon i{
		margin: 0 10px 0 0;
	}
	.block8-section p:nth-child(3){
		margin-bottom: 20px;
	}
	.block8-section p:nth-child(6){
		margin-top: 0;
	}
    .comment {
        width: 45%;
    }
}
    @media screen and (max-width:615px){
        .logo-small{
            float: none;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        .menu{
            text-align: center;
        }
        .menu li{
            display: inline-block;
            float: none;
        }
    }
@media screen and (max-width:600px){

	.awesome{
		width: 100%;
		margin: 0;
	}
	.leftForm{
		width: 100%;
	}
	.block9-section textarea{
		width: 100%;
	}
    .comment {
        width: 70%;
    }

}
@media screen and (max-width:480px){
	.right-block-social{
		margin-top: 0;
		margin-bottom: 5px;
	}
	.socialIcon i{
		margin-top: 0;
		margin-right: 15px;
		font-size: 1.8em;
	}
	.buySmall{
		width: 100%;
		margin-right: 0;
		margin-top: 30px;
	}
	.buyBig{
		width: 100%;
		margin-right:0;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.line{
		margin: 0 auto;
	}
	.left-block p{
		width: 100%;
	}
	.left-block img{
		display: block;
		margin: 0 auto;
	}
	.block9-section p:nth-child(3){
		margin-bottom: 25px;
	}
    .comment {
        width: 80%;
    }
    footer .fa-facebook, footer .fa-twitter, footer .fa-google-plus, footer .fa-pinterest, footer .fa-instagram, footer .fa-rss, footer .fa-stumbleupon{
        font-size: 1.3em;
    }
    .vertical .tabs li{
        width: 30%;
    }
    .vertical .tabs li.current{
        width: 30%;
    }
    .vertical .tabs li:hover {
        width: 30%;
    }
    .imageInsert p, .imageInsertTwo p{
        line-height: 12em;
        font-size: 25px;
    }
    }
}
@media screen and (max-width:450px){
    footer .fa-facebook, footer .fa-twitter, footer .fa-google-plus, footer .fa-pinterest, footer .fa-instagram, footer .fa-rss, footer .fa-stumbleupon{
        font-size: 1.9em;
    }
}